html,body {
  margin: 0;
  height: 100%;;
}
a {
  text-decoration: none;
  color: white;
}

.nav {
  color: aliceblue;
  text-align: right;
  display: block;
  padding-top: 10px;
}

.navbar {
  text-decoration: none;
  text-align: center;
  display: block;
  font-size: 30px;
  padding-top: 0.8px;
  z-index: 999;
  box-shadow:black;
}

.navbar a:hover {
  background: black;
  color: cyan;
}

.nav i:hover {
  background:black;
  color: cyan;
}

body {
  background-image: url("img/tianyi-ma-WiONHd_zYI4-unsplash.jpg");
  background-attachment: fixed;
  position: relative;
  background-size: cover;
  padding: 0;
  margin: 0;
}

.button {
  background-color: rgba(182, 106, 118, 0.486);
  color: white;
  border: 2px;
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  /*-webkit-transition-duration: 0.4;*/
  transition-duration: 0.4s;
  cursor: pointer;
}
.button:hover {
  background-color: white;
  color: rgba(182, 106, 118, 0.486);
}

.footer {
  height: 50px;
  margin-top: 265px;
}
.header1 {
  text-align: center;
  padding-top: 10px;
  color: white;
}
.center {
  margin-left: 10px;
  width: 50%;
}
li {
  text-decoration: none;
  padding: 10px 10px 10px 10px;
  margin-right: 0;
  display: inline;
}

.header {
  font-family: 'Cormorant', serif;
  background-color: rgba(90, 82, 82, 0.178);
  position: static;
}
p {
  font-size: 40px;
  font-family: 'Cormorant', serif;
  font-style: normal;
  margin: 10px;
  color: rosybrown;
  text-align: center;
}
.p1 {
  color: aliceblue; 
  font-size: 50px;
}
h1 {
  font-size: 50px;
  font-family: 'Cormorant', serif;
  font-style: normal;
  margin: 10px;
  text-align: center;
}
* {
  box-sizing: border-box;
}

.image {
  opacity: 1;
  width: 200px;
  height: 300px;
  transition: 5s ease;
  backface-visibility: visible;
}

.image:hover {
  opacity: 0.3;
}
.about-image {
  border-radius: 150px;
  opacity: 1;
  width: 300px;
  height: 500px;
  transition: 5s ease;
  backface-visibility: visible;
}
.about-image :hover {
  opacity: 0.5;
}

.item {
  grid-area: auto;
  
}

.grid-container {
  display: grid;
  grid-template-areas: 
  "navbar"
  "content"
  "footer";
  grid-gap: 10px;
  background-color: transparent;
  padding: 10px;
}

.grid-container > div {
  background-color: transparent;
  padding: 20px;
  font-size: 30px;
  color: aliceblue;
   font-family: 'Cormorant', serif;
}
.container {
  font-size: 15px;
  height: 80px;
  position: relative;
  width: 100%;
  display: grid;
  grid-template-areas: 
  'navbar' 
  'content' 
  'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 100px 808px 250px;
}
.item2 {
  grid-area: mytext;
}

ul {
  margin: 0;
  list-style: none;
}
.header1 {
  text-align: center;
}
.text {
  background-color: rgba(228, 153, 125, 0.089);
  color: white;
  font-size: 20px;
  padding: 16px 32px;
  text-align: center;
  font-family: 'Cormorant', serif;
}
.boxes {
  margin: 20px;
  padding: 30px;
  font-family: 'Cormorant', serif;
  color: aliceblue;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;

  
}
.textfield {
  text-align: center;
}
